<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/header.ejs') %>

            <main>

                <div class="listarProdutos">
                    <h1>Listar produtos</h1>
                    <div class="produts">
                        <ul>
                            <% produtos.forEach(function(produtos) { %>
                                <li> Nome:
                                    <%= produtos.nome %> %></li>
                                <li> Fornecedor:
                                    <%= produtos.Fornecedores_id %> %></li>
                                <li> Descrição:
                                    <%= produtos.descricao %> %></li>
                                <li> Valor:
                                     R$ <%= produtos.valor%> %></li>
                                <a href="../views/admin/editar-produto.ejs">Editar</a>
                                <button>Remover</button>
                                <% }); %>
                        </ul>
                    </div>

                </div>

            </main>
            <%- include('./partials/footer.ejs') %>
    </body>

    </html>