<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PETSHOP DH</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include("../partials/header") %>
        <main>
            <section class="contato">
                <div class="container">
                    <h1>Listagem de produtos</h1>
                    <div class="align-row" style="width: 100%;">
                        <table>
                            <tr>
                                <th>ID</th>
                                <th>Nome</th>
                                <th>Descricao</th>
                                <th>Valor</th>
                                <th>Ações</th>
                            </tr>
                            <% produtos.forEach(function(produto) { %>
                                <tr>
                                    <td>
                                        <%= produto.id %>
                                    </td>
                                    <td>
                                        <%= produto.nome %>
                                    </td>
                                    <td>
                                        <%= produto.descricao %>
                                    </td>
                                    <td>
                                        <%= produto.valor %>
                                    </td>
                                    <td>
                                        <a href="/admin/produtos/<%= produto.id %>/editar">Editar</a>
                                        <a href="/admin/produtos/<%= produto.id %>/remover">Remover</a>

                                    </td>
                                </tr>
                                <% }) %>
                        </table>
                    </div>
                    <a href="./cadastro_produtos.ejs">Novo produto</a>
                </div>
            </section>
        </main>
        <%- include("../partials/footer") %>
</body>

</html>